requirements.txt
.claude/settings.local.json
PRD.md
CLAUDE.md
test photos/WhatsApp Image 2026-04-25 at 11.33.24 AM - Copy (2) - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.24 AM - Copy (3) - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.25 AM - Copy (3) - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.25 AM (1) - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.25 AM (1) - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos 2/WhatsApp Image 2026-04-25 at 11.33.24 AM - Copy (3) - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos 2/WhatsApp Image 2026-04-25 at 11.33.25 AM - Copy (3) - Copy - Copy - Copy - Copy.jpeg
test photos 2/WhatsApp Image 2026-04-25 at 11.33.25 AM (1) - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.24 AM - Copy (2) - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.24 AM - Copy (3) - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.25 AM - Copy (3) - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.25 AM - Copy (4) - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.25 AM (1) - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.25 AM (2) - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/WhatsApp Image 2026-04-25 at 11.33.25 AM (3) - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/New folder - Copy (2)/WhatsApp Image 2026-04-25 at 11.33.25 AM - Copy (4) - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/New folder - Copy (2)/WhatsApp Image 2026-04-25 at 11.33.25 AM - Copy (4) - Copy - Copy - Copy - Copy - Copy.jpeg
test photos/New folder - Copy (2)/WhatsApp Image 2026-04-25 at 11.33.25 AM - Copy (5) - Copy - Copy - Copy - Copy - Copy - Copy.jpeg
future features.txt
build/
dist/
*.spec
crash_log.txt
